nav {
    margin-top: 35px;
}

body {
    background-color: #333333;
}

footer {
    color: azure;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: azure;
    text-shadow: 0 0 10px azure;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: azure;
    margin-top: 30px;
    position: relative;
    left: 636px;
    text-shadow: 0 0 10px azure;
   
}

table {
    margin-left: auto;
    margin-right: auto;
    border: solid #ff4f00;
}

iframe {
    margin: 25px;
}

form {
    background-color: #333333;
    color: #ff4f00;
    width: auto;
    max-width: 600px;
    padding: 15px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff4f00;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    z-index: 2px;
    text-align: center;
    border: solid #ff4f00;
}

tr {
    border: solid #ff4f00;
}

td {
    border: solid #ff4f00;
}

hr {
    color: #ff4f00;
}

.collections {
    background-color: #333333;
}
 
.homepage, .collection1, .collection2, .collection3, .newvideo, 
.c-homepage, .c-collection1, .c-collection2, .c-collection3, .c-newvideo,
.featured1, .featured2, .featured3 
{
    background-color: #333333;
    color: #ff4f00;
    padding: 15px;
    text-decoration: none;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff4f00;
    font-family: 'Rubik', sans-serif;
    border: solid #ff4f00;
}

.featured1, .featured2, .featured3 {
    background-color: #333333;
    color: #ff4f00;
    padding: 15px;
    text-decoration: none;
    margin: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff4f00;
    font-family: 'Rubik', sans-serif;
    border: solid #ff4f00;

}

.homepage, .collection1, .collection2, .collection3, .newvideo3 {
    background-color: #333333;
    color: #ff4f00;
    padding: 15px;
    text-decoration: none;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff4f00;
    font-family: 'Rubik', sans-serif;
    border: solid #ff4f00;
}

.index-table {
    margin-left: auto;
    margin-right: auto;
    border: solid #ff4f00;
    margin-bottom: 20px;
    
}

.collection-table {
    background-color: #333333;
    color: #ff4f00;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff4f00;
    font-family: 'Rubik', sans-serif;
    border: solid #ff4f00;
    margin-bottom: 20px;
}

.cv-collection1, .cv-collection2, .cv-collection3 {
    margin-bottom: 20px;
     background-color: #333333;
    color: #ff4f00;
    padding: 15px;
    text-decoration: none;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff4f00;
    font-family: 'Rubik', sans-serif;
    border: solid #ff4f00;
    text-align: center;
}





    
    
    



